body {
    background-size: 3%;
    background-image: url("../../assets/minecraft/block/netherite_block.png");
    background-color: #2E1E96;
    color: #FFFFFF;
}

h1 {
    /* titre du document alignés au centre */
    text-align: center;
    color: #A49B98;
    text-shadow: -5px 5px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    font-size: 200%;
    font-family: 'Minecrafter', sans-serif;
    text-rendering: geometricPrecision;
}

footer {
    /* pied de page a une taille de fonte reduite de 10% */
    font-size: 90%;
    /* écrit en italique */
    font-style: italic;

    /* pied de page alignés au centre */
    text-align: center;
    color: white;

    padding-top: 10px;
}

#description {
    /* titre du document alignés au centre */
    text-align: center;
    color: white;
    font-family: 'Minecraftia', sans-serif;
}


#another {
    /* pas de bordure, bords arrondis */
    display: block;
    border: none;
    border-radius: 15px;

    font-size: 42px;
    background-color: #170817;
    color: #58D500;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;


    font-family: 'Minecrafter', sans-serif;
}

#another:hover {
    /* change de couleur lorsque le curseur de l’utilisateur passe dessus */
    background-color: aquamarine;

    color: #003A00;



}

#jeu {
    /* 72*11 */
    max-width: 720px;
    max-height: 900px;

    /* flex */
    display: block;
    flex-wrap: wrap;

    border: 5px solid firebrick;
    background-size: 10%;
    image-rendering: pixelated;
    background-image: url("../../assets/minecraft/block/dirt.png");
    margin: auto auto;
}

@media (max-width: 768px) {
    #jeu {
        max-width: 100%;
    }


}

#crafting_grid {
    /* flex */
    display: flex;
    flex-wrap: wrap;

    /* 4*36(case) = 108 */

    max-width: 216px;
    max-height: 216px;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#inventory_grid {
    /* flex */
    display: flex;
    flex-wrap: wrap;

    /* 4*36(case) = 108 */
    max-width: 648px;
    max-height: 648px;

    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.minecraft_box {
    width: 64px;
    height: 64px;
    border-width: 4px;

    border-style: solid;
    background-size: cover;
    image-rendering: pixelated;

    background-color: #8B8B8B;
    border-color: #373737 #FFFFFF #FFFFFF #373737;
}

.minecraft_box img {
    width: 100%;
    height: 100%;
}


#crafting_box_result {
    width: 128px;
    height: 128px;
    border-width: 8px;
    border-color: gold;

    margin: 0 auto;
}

/* styling of the tooltip display */
p#tooltip-text {
    display: none;
    position: absolute;
    padding: 8px;

    font-family: 'Minecraftia', sans-serif;
    background: #170817;
    border: 2px solid #2E0A65;
    border-radius: 2px;

    animation: fadeIn 0.6s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: "Minecraftia", Arial, sans-serif;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    background-size: 45px;
}

